
        * {
            margin: 0;
            padding: 0
        }

        .row {

            margin-right: 0px !important;
        }

        .foods:hover {
            background-color: rgb(0, 0, 0, 0);
        }

        .food1 {
            background-image: url(./images/1.jpg);

        }

        .food2 {
            background-image: url(./images/2.jpg);

        }

        .food3 {
            background-image: url(./images/3.jpg);

        }

        .food4 {
            background-image: url(./images/4.jpg);

        }

        .food5 {
            background-image: url(./images/5.jpg);
        }

        .food6 {
            background-image: url(./images/6.jpg);
        }

        .food7 {
            background-image: url(./images/7.jpg);
        }

        .food8 {
            background-image: url(./images/8.jpg);
        }

        .food-items {
            font-size: 0;
        }
.customers{
    display: flex;
}
        .food-items section {
            overflow: hidden;
            display: inline-block;
            width: 30%;
            margin: 1rem;
            height: 60vh;
        }

        .food1,
        .food2,
        .food3{
            display: inline-block;

            overflow: hidden;
            display: inline-block;
            margin-bottom: -.22rem;
            width: 100%;
            height: 100%;
            background-position: center center;
            background-size: cover;
            transform: scale(1.2);
            transition: transform 0.5s;

        }

        .foods{
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            /* transition: background-color 0.5s; */


        }



        .food1:hover,
        .food2:hover,
        .food3:hover
        {
            transform: scale(1);
        }

        .card{
            /* margin: 2rem; */
            /* width: 30%; */
            border :0px !important;
        }

.bc1,.bc2,.bc3{
    position: absolute;
    left: 3rem;
}
h1{
    margin: 7rem 0!important;
}
.row{
    opacity:0;
}

        .top-img {
            background-position: center center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            width: 100vw;
            height: 100vh !important;
            background-size: cover;
        }

        .top-item {
            height: 100vh;
            width: 100vw;
        }

        .testimonials {
            width: 40%;
            margin-top: 100px;
            margin-right: 2rem;
            margin-left: 2rem;
            height: 90%;
        }

        .rev-text {
            margin-top: 100px !important;
            width: 50%;
            /* height: 100%; */
            background-color: lightgray;
            margin: 1rem;
            padding: 1rem;
        }

        .small-img {
            width: 20%;
            height: 20%;
            border-radius: 50%;

        }

        .carousel-control.right {
            background-image: none !important;
        }

        .carousel-control.left {
            background-image: none !important;
        }

        #slider4 {
            background-color: white;
        }
   